<h1> Add a review</h1>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.input :rating %>
  <%= f.submit 'Submit your review', class: 'btn btn-secondary' %>
<% end %>
